

*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing:border-box;  
}

@font-face {
    font-family: 'amatic_scregular';
    src: url('fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*general nav bar styles*/
.nav-bar{
    background-color: rgb(245, 245, 245);
    height: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'amatic_scregular', 'Arial';
    font-size:3vh;
    color: rgb(168, 168, 168);
}

.logo{
    font-size: 3vh;
    color:rgb(245, 199, 157);
    font-family: 'amatic_scregular', 'Arial';
}
/*top navigation bar styles*/
@media screen and (min-width: 600px){

    .nav-bar{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5vw;
        padding-left: 5vw;
    }
   
    .menu-icon{
        display: none;
    }

    .nav-bar a:hover {
        color: gray;
    }

    .nav-bar a.active{
        color: gray;
    }
}

/*mobile nav bar*/
@media screen and (max-width: 600px){
   
    .nav-bar a:not(:first-child){
        display:none;
    }
    .nav-bar a.icon{
        float: right;
        padding-right: 5vw;
    }
    .nav-bar > .icon > div{
        width: 5vw;
        height: 0.3vw;
        background-color: gray;
        margin: 2vw 0;
    }
    .nav-bar > .logo{
       display: none;
    }
} 
  
/*content styles mobile*/
    .content-wrapper{
        display: grid;
        font-size: 3vh;
        color: lightgray;
        font-family: 'amatic_scregular', 'Arial';
        text-transform: uppercase;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-image: url(images/20201216_090700.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 20vh;
        text-align: center;
        margin-top: 6.5vh;
        font-size: 4vh;
        color:lightgrey;
        border-color:white;
        border-style: solid;
        border-width: 0.5;
        border-bottom-width: 0vh;
    }
    .ueber-uns{
        background-image: url(images/SunnaschiSw.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        text-align: center;
        padding-top: 25vh;
        border-style: solid;
        border-width: 0.5vh;
        border-color:white;
        text-transform: none;
        color:rgb(119, 118, 117);
    }
    .ueber-uns p{
        color: white;
    }
     
    
    .video{
        height: 20vh;
        background-image: url(images/gitarregelb.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 15vh;;
    }
    .video a{
        color:lightgray;
        border:lightgray;
        border-style: solid;
        border-width: 0.3vw;
        margin-top: 10vh;
        margin-left: 10vw;

    }
    .aufnahmen{
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        height: 20vh;
        background-image: url(images/berge.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-transform: none;
        padding-top: 15vh;
        
        
    }
    #audio_with_controls{
        
        height: 3vh;
        border-radius: 0;
        
    }

.footer{
    height:10vh;
}
/*Content styles mobile*/
@media screen and (max-width: 600px){
    
    .content-wrapper{
        grid-template-columns:1fr;
    }
    
}
/*Content styles Desktop*/
@media screen and (min-width: 600px){
    .content-wrapper{
        grid-template-columns:[start-grid] 1fr [main-start] 2fr [main -end] 1fr [end-grid];
    }
    .header{
        grid-column-start: start-grid;
        grid-column-end: end-grid;
        height: 30vh;
    }
 
    .video{
        grid-column-start: start-grid;
        grid-column-end: main-start;
        height: 20vh;
        padding-top: 25vh;
    }
    .ueber-uns{
        grid-column-start: main-start;
        grid-column-end: end-grid;
        height: 20vh;
    }
    .aufnahmen{
        height: 10vh;
        grid-column-start: start-grid;
        grid-column-end: end-grid;
        padding-left: 10vh;
        padding-top: 5vh;
    }


}




/*video-styles*/
.container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding-top: 10vh;
}
.container-video> .space{
    height: 10vh;
}



